html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background: url(../images/background.jpg);
  background-size: cover;
  font-family: "Roboto Condensed", sans-serif;
  color: #222;
  font-size: 16px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
body::after {
  content: "";
  background: hsla(0, 0%, 100%, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
